body, html {
	background-color: #e3eef8;
	width: 100%;
  	height: 100%;
  	font-family: 'Montserrat', sans-serif;
  	
}

h1 {
	font-family: fantasy;
	font-size: 4.5rem;
}

h2 {
	font-family: Indie Flower;
}

.buffer {
	height: .5rem;
}

.buffer2 {
	height: .5rem;
}

img {
	height: 210px;
	width: 210px;
	border: 2px solid silver;
}

.buffer3 {
	height: 1rem;
}

button {
	font-family: Montserrat;
	
}


.btn-cus {
	background-color: transparent;
	border-color: silver;
	color: black;
	border-radius: 300px;
}

.btn-cus:hover {
	background-color: #eb4934;
	border-color: silver;
}


.break {
	height: 3rem;
}
}

}
.col-lg-12 {
	font-family: Indie Flower;
	font-size: 15px;
}

.cright {
	font-family: Indie Flower;
	font-size: 12px;
}